<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sparta Jump Game</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="shortcut icon" href="images/31.png" type="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div class="topnav">
        
        <a href="index.html">Home</a>
        <a  href="about.html">About</a>
        <a href="Sovenir-shop.html">Shop</a>
        <a class="active" href="Game.html">Game</a>
         <img src="images/39.png" alt="39png" width="35px">
      </div>
    <div class="description">
        <p> The Persians are not backing out. Its time for the Spartan Leader to take down their stronghold. <br> The Spartan Leader has attacked but before reaching there.He must dodge the arrows from persians.<br>Do you have What it takes to reach their Stronghold without getting hit by the arrows??<br> Help out your Spartan Leader and End Persian Domination.</p>
    </div>
    <div ng-app="" ng-init="">
        <input type="button" value="Start Game" id="cta-btn" ng-model="bill" ng-click="count = count+1" ng-init="count=0">
        <div ng-show="count" class="count">
            <div id="game">
            <div id="character"></div>
            <div id="block"></div>
        
            </div>
            <script>
            var character = document.getElementById("character");
            document.addEventListener("click",jump);
            function jump(){
                if(character.classList == "animate"){return;}
                character.classList.add("animate");
                setTimeout(removeJump,300);

            };
            function removeJump(){
                character.classList.remove("animate");
            }

            
            var block = document.getElementById("block");
            function checkDead(){
                let characterTop = parseInt(window.getComputedStyle(character).getPropertyValue("top"));
                let blockLeft = parseInt(window.getComputedStyle(block).getPropertyValue("left"));
                if(blockLeft<20 && blockLeft>-20 && characterTop>=130){
                    window.location.reload();
                    alert("Game Over!Your Score=Not Enough To Win");


                }
            }

            
            setInterval(checkDead, 10);
        </script>
        </div>
    </div>
</body>
</html>